// Utilities

$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    'bx-align': (
      property: vertical-align,
      class: bx-align,
      values: baseline top middle bottom text-bottom text-top,
    ),
    'bx-float': (
      responsive: true,
      property: float,
      class: bx-float,
      values: (
        start: left,
        end: right,
        none: none,
      ),
    ),
    // scss-docs-start utils-display
    'bx-display':
      (
        responsive: true,
        print: true,
        property: display,
        class: bx-d,
        values: inline inline-block block grid table table-row table-cell flex
          inline-flex none,
      ),
    // Flex utilities
    'bx-flex':
      (
        responsive: true,
        property: flex,
        class: bx-flex,
        values: (
          fill: 1 1 auto,
        ),
      ),
    'bx-flex-direction': (
      responsive: true,
      property: flex-direction,
      class: bx-flex,
      values: row column row-reverse column-reverse,
    ),
    'bx-flex-grow': (
      responsive: true,
      property: flex-grow,
      class: bx-flex,
      values: (
        grow-0: 0,
        grow-1: 1,
      ),
    ),
    'bx-flex-shrink': (
      responsive: true,
      property: flex-shrink,
      class: bx-flex,
      values: (
        shrink-0: 0,
        shrink-1: 1,
      ),
    ),
    'bx-flex-wrap': (
      responsive: true,
      property: flex-wrap,
      class: bx-flex,
      values: wrap nowrap wrap-reverse,
    ),
    'bx-justify-content': (
      responsive: true,
      property: justify-content,
      class: bx-justify-content,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
      ),
    ),
    'bx-align-items': (
      responsive: true,
      property: align-items,
      class: bx-align-items,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
      ),
    ),
    'bx-align-content': (
      responsive: true,
      property: align-content,
      class: bx-align-content,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        stretch: stretch,
      ),
    ),
    'bx-align-self': (
      responsive: true,
      property: align-self,
      class: bx-align-self,
      values: (
        auto: auto,
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
      ),
    ),
    'bx-order': (
      responsive: true,
      property: order,
      class: bx-order,
      values: (
        first: -1,
        0: 0,
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        last: 6,
      ),
    ),
    // Margin utilities
    'bx-margin':
      (
        responsive: true,
        property: margin,
        class: bx-m,
        values:
          map-merge(
            $spacers,
            (
              auto: auto,
            )
          ),
      ),
    'bx-margin-x': (
      responsive: true,
      property: margin-right margin-left,
      class: bx-mx,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    'bx-margin-y': (
      responsive: true,
      property: margin-top margin-bottom,
      class: bx-my,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    'bx-margin-top': (
      responsive: true,
      property: margin-top,
      class: bx-mt,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    'bx-margin-end': (
      responsive: true,
      property: margin-right,
      class: bx-me,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    'bx-margin-bottom': (
      responsive: true,
      property: margin-bottom,
      class: bx-mb,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    'bx-margin-start': (
      responsive: true,
      property: margin-left,
      class: bx-ms,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    // Negative margin utilities
    'bx-negative-margin':
      (
        responsive: true,
        property: margin,
        class: bx-m,
        values: $negative-spacers,
      ),
    'bx-negative-margin-x': (
      responsive: true,
      property: margin-right margin-left,
      class: bx-mx,
      values: $negative-spacers,
    ),
    'bx-negative-margin-y': (
      responsive: true,
      property: margin-top margin-bottom,
      class: bx-my,
      values: $negative-spacers,
    ),
    'bx-negative-margin-top': (
      responsive: true,
      property: margin-top,
      class: bx-mt,
      values: $negative-spacers,
    ),
    'bx-negative-margin-end': (
      responsive: true,
      property: margin-right,
      class: bx-me,
      values: $negative-spacers,
    ),
    'bx-negative-margin-bottom': (
      responsive: true,
      property: margin-bottom,
      class: bx-mb,
      values: $negative-spacers,
    ),
    'bx-negative-margin-start': (
      responsive: true,
      property: margin-left,
      class: bx-ms,
      values: $negative-spacers,
    ),
    // Padding utilities
    'bx-padding':
      (
        responsive: true,
        property: padding,
        class: bx-p,
        values: $spacers,
      ),
    'bx-padding-x': (
      responsive: true,
      property: padding-right padding-left,
      class: bx-px,
      values: $spacers,
    ),
    'bx-padding-y': (
      responsive: true,
      property: padding-top padding-bottom,
      class: bx-py,
      values: $spacers,
    ),
    'bx-padding-top': (
      responsive: true,
      property: padding-top,
      class: bx-pt,
      values: $spacers,
    ),
    'bx-padding-end': (
      responsive: true,
      property: padding-right,
      class: bx-pe,
      values: $spacers,
    ),
    'bx-padding-bottom': (
      responsive: true,
      property: padding-bottom,
      class: bx-pb,
      values: $spacers,
    ),
    'bx-padding-start': (
      responsive: true,
      property: padding-left,
      class: bx-ps,
      values: $spacers,
    ),
    'bx-visibility': (
      property: visibility,
      class: bx,
      values: (
        visible: visible,
        invisible: hidden,
      ),
    ),
  ),
  $utilities
);
